.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    width: 200px;
    top: 100%;
    padding: 20px;
    background-color: #ffffff;
    display: none;
    border: 1px solid lightgray;
     min-width: 100%;
     z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}